CREATE PROCEDURE [dbo].[EDITAR_BIBLIOTECARIO]
@ID INT,
@DNI CHAR(8),
@CONTRASEÑA VARCHAR(40),
@NOMBRES VARCHAR(40),
@APELLIDOS VARCHAR(40),
@TURNO VARCHAR(10)
AS
BEGIN
	UPDATE BIBLIOTECARIO
	SET DNI = @DNI,
		CONTRASEÑA = @CONTRASEÑA,
		NOMBRES = @NOMBRES,
		APELLIDOS = @APELLIDOS,
		TURNO = @TURNO
	WHERE ID = @ID
END