CREATE PROCEDURE [dbo].[INSERTAR_LIBRO]
@COD_LIBRO CHAR(5),
@TITULO VARCHAR(150),
@AUTOR VARCHAR(40),
@EDITORIAL VARCHAR(50),
@ID_CATEGORIA INT,
@DISPONIBILIDAD VARCHAR(20),
@DESCRIPCION VARCHAR(300)
AS
BEGIN
	INSERT INTO LIBRO VALUES (@COD_LIBRO,@TITULO,@AUTOR,@EDITORIAL,@ID_CATEGORIA,@DISPONIBILIDAD,@DESCRIPCION)
END