CREATE PROCEDURE [dbo].[INSERTAR_PRESTAMO_LIBRO]
@ID_ALUMNO INT,
@ID_LIBRO INT,
@ID_ESPECIALIDAD INT,
@ID INT,
@FECHA DATETIME,
@ESTADO VARCHAR(30)
AS
BEGIN
	INSERT INTO PRESTAMOS_LIBRO VALUES (@ID_ALUMNO,@ID_LIBRO,@ID_ESPECIALIDAD,@ID,@FECHA,@ESTADO)
END