CREATE PROCEDURE [dbo].[MOSTRAR_ALUMNO]
AS
BEGIN
	SELECT A.ID_ALUMNO AS ID,A.NOMBRE_ALUM AS NOMBRES,A.APELLIDOS_ALUM AS APELLIDOS,A.DNI_ALUM AS DNI,A.SEMESTRE,E.NOMBRE_ESP AS ESPECIALIDAD,A.TURNO_ALUM AS TURNO FROM ALUMNO A,ESPECIALIDAD E
	WHERE A.ID_ESPECIALIDAD=E.ID_ESPECIALIDAD
END