CREATE PROCEDURE [dbo].[MOSTRAR_LIBRO]
AS
BEGIN
	SELECT L.ID_LIBRO AS ID,L.COD_LIBRO AS CODIGO,L.TITULO,L.AUTOR,L.EDITORIAL,C.NOMBRE_CAT AS CATEGORIA,L.DISPONIBILIDAD,L.DESCRIPCION FROM LIBRO L,CATEGORIA C
	WHERE L.ID_CATEGORIA=C.ID_CATEGORIA
END
